.pure-button-primary {
    background: #e6e6e6;
    color: black;
}

.pure-button:active {
    box-shadow: none;
}

.pure-button-active {
    &.pure-button-primary,
    &.pure-button-success,
    &.pure-button-error,
    &.pure-button-warning,
    &.pure-button-secondary,
    &.pure-button-dark {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }


    &.pure-button-primary {
        background: $future-blue;
    }

    &.pure-button-success {
        background: darken($fav-green,10%); /* this is a green */
    }

    &.pure-button-error {
        background: $leastfav-red; /* this is a maroon */
    }

    &.pure-button-warning {
        background: rgb(223, 117, 20); /* this is an orange */
    }

    &.pure-button-secondary {
        background: rgb(66, 184, 221); /* this is a light blue */
    }
    &.pure-button-dark {
        background: #444;
    }


}




.pure-button-xxsmall {
    font-size: 50%;
}

.pure-button-xsmall {
    font-size: 70%;
}

.pure-button-small {
    font-size: 85%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 125%;
}