.pull-up {
  top: 0;
}

.pull-down {
  bottom: 0;
}

.pull-right {
  float: right;
  right: 0;
}

.pull-left {
  float: left;
}


.stretch-lr {
  position: absolute;
  left: 0;
  right: 0;
}

.stretch-all {
  width: 100vw;
  height: 100vh;
}

.stretch-tb {
  height: 100vh;
}

.fixed {
  position: fixed !important;
}

.static {
  position: static !important;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.centered {
  margin: 0px auto;
}