.mobile-only {
	display: block;
}

.not-mobile {
	display: none;
}

/* LARGER THAN MOBILE */
@media screen and (min-width: 48em) {

	.nav-menu {
		background: transparent;
	}


	.md-pull-down {
		bottom: 0;
	}


	.header {
	  position: fixed;
	}
	
	.content {
	  padding-top: 2em;
	}

	.mobile-only {
		display: none;
	}
	.not-mobile {
		display: block;
	}

	.left-pane, .right-pane {
	  height: 100%;
	}

	.left-pane {
		
	}
	.desktop-about-pane {
			background: $highlight;
			color: $primary-light;
			transition: all .4s ease;
			box-sizing: border-box;
			font-size: 2em;
			z-index: 800;

			a {
				color: $primary-light;
			}

			span.close {
				font-size: .5em;
			}

			left: 0;

			&.not-revealed {
				top: 101%;
			}

			&.revealed {
				top: 0;
			}

		}

	.right-pane {
		margin-top: 0;
		position: static;
	}

	.map-pane {
		height: 100vh;
	}

	.map-controls {
		.pure-button-group button {
			font-size: 1em;
		}

		.pure-button-group:last-of-type {
		    button {
		      display: block;
		    }
		  }
	}

}
